.question-number {
  width: 32px;
  height: 32px;
  padding: 6px 0px 6px 0px;
  border-radius: 4px;
  background: #fafbfe;
  border: 1px solid #e2e8f0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  color: #64748b;
  margin-left: 10px;
  margin-bottom: 10px;
  text-align: center;
  cursor: pointer;
}
.active-question {
  background: #eff6ff;
  border: 1px solid #60a5fa;
}
.answered-question {
  background: #7c599f26;
  border: 1px solid #7c599f;
}
